@import url("https://api.fontshare.com/css?f[]=sentient@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Sentient", sans-serif;
  margin: 100px;
}

.tiptap h1,
.tiptap h2,
.tiptap h3 {
  @apply text-red-700;
}
.table-of-contents {
  @apply flex flex-col text-sm gap-4 overflow-auto no-underline;

  > div {
    @apply rounded transition-all duration-200 ease-in-out;
    padding-left: calc(0.875rem * (var(--level) - 1));
  }

  .empty-state {
    @apply text-gray-500 select-none;
  }

  .is-active a {
    @apply text-gray-600;
  }

  .is-scrolled-over a {
    @apply text-gray-500;
  }

  a {
    @apply text-black flex gap-1
 no-underline;
  }
}
